= simple_form_for [@portfolio, @option_action] do |f|
  = f.error_notification

  .inputs
    = f.input :call_put, :label => "CALL/PUT", :collection => [["CALL", true], ["PUT", false]], :prompt => "Select Option Type"
    = f.input :strike, :collection => (900..1300).step(10), :prompt => "Select strike"
    = f.input :quantity, :hint => "number of stocks"
    = f.input :price, :hint => Money.default_currency.symbol, :label => "Price (per stock)"
    = f.input :expiration_date, :as => :date, :start_year => Date.today.year - 1,
                                :end_year => Date.today.year + 1, :discard_day => true,
                                :order => [:month, :year]
    
  .actions
    = f.button :submit
