= simple_form_for [@portfolio, @option_action] do |f|
  = f.error_notification

  .inputs
    = f.input :call_put, :label => "CALL/PUT", :collection => [["CALL", true], ["PUT", false]], :prompt => "Select Option Type"
    = f.input :strike, :collection => (800..1300).step(10), :selected => @option_action.strike || 1000
    = f.input :quantity, :hint => "number of stocks"
    = f.input :price, :hint => Money.default_currency.symbol, :label => "Price (per stock)"
    = f.input :exercise_date, :collection => expiration_dates, :prompt => "Select Expiration", :selected => expiration_dates.first
    
  .actions
    = f.button :submit
