= simple_form_for(@portfolio) do |f|
  = f.error_notification

  .inputs
    - if is_new_object?(params[:action])
      = f.input :name
    = f.input :cash, :hint => Money.default_currency.symbol

  .actions
    = f.button :submit
