= simple_form_for(@portfolio) do |f|
  = f.error_notification

  .inputs
    = f.input :name
    = f.input :number_of_stocks
    = f.input :cash, :hint => Money.default_currency.symbol
    = f.input :currency, :as => :hidden, :input_html => { :value => Money.default_currency}
    = f.input :strategy_multiplier

  .actions
    = f.button :submit
