- title "Listing Portfolios"

%table
  %tr
    %th Name
    %th Stocks
    %th CALL
    %th PUT
    %th Cash
    %th Created at
    - if user_signed_in?
      %th
      %th

  - @portfolios.each do |portfolio|
    %tr
      %td= link_to portfolio.name, portfolio
      %td= portfolio.number_of_stocks
      %td= portfolio.number_of_call_options
      %td= portfolio.number_of_put_options
      %td= pretty_money(portfolio.cash)
      %td= portfolio.created_at
      - if user_signed_in?
        %td= link_to 'Edit', edit_portfolio_path(portfolio)
        %td= link_to 'Destroy', portfolio, :confirm => 'Are you sure?', :method => :delete

- if user_signed_in?
  %br
  = link_to 'New Portfolio', new_portfolio_path

