- title @portfolio.name

%p
  %b Number of stocks:
  = @portfolio.number_of_stocks
%p
  %b Number of CALL options:
  = @portfolio.number_of_call_options
%p
  %b Number of PUT options:
  = @portfolio.number_of_put_options  
%p
  %b Cash:
  = pretty_money(@portfolio.cash)
%p
  %b Created at:
  = @portfolio.created_at

- if user_signed_in?
  = link_to 'Assets', portfolio_asset_actions_path(@portfolio)
  \|
  = link_to 'Options', portfolio_option_actions_path(@portfolio)
  \| 
  = link_to 'Edit', edit_portfolio_path(@portfolio)
  \|
= link_to 'Back', portfolios_path
    
.row
  #chart

.row
  .span5.offset6
    - if (@current_strike.to_i - 100) > 0
      = link_to image_tag( 'go-previous-icon.png', :alt => "Move chart left", :title => "Move chart left", :class => 'bottom'), portfolio_path(@portfolio, :strike => (@current_strike.to_i - 100))
    %b= @current_strike
    = link_to image_tag( 'go-next-icon.png', :alt => "Move chart right", :title => "Move chart right", :class => 'bottom'), portfolio_path(@portfolio, :strike => (@current_strike.to_i + 100))

:javascript
  portfolio_value = #{@portfolio.value(@current_strike.to_i)};
  portfolio_symbol = "#{@portfolio.cash.symbol}"
