- title @portfolio.name

%p
  %b Number of stocks:
  = @portfolio.number_of_stocks
%p
  %b Cash:
  = pretty_money(@portfolio.cash)
%p
  %b Strategy multiplier:
  = @portfolio.strategy_multiplier

- if user_signed_in?
  = link_to 'Assets', portfolio_asset_actions_path(@portfolio)
  \|
  = link_to 'Edit', edit_portfolio_path(@portfolio)
  \|
= link_to 'Back', portfolios_path

