= simple_form_for [@portfolio, @asset_action] do |f|
  = f.error_notification

  .inputs
    = f.input :quantity, :hint => "number of stocks"
    = f.input :price, :hint => Money.default_currency.symbol, :label => "Price (per stock)"

  .actions
    = f.button :submit

