= simple_form_for [@portfolio, @asset_action] do |f|
  = f.error_notification

  .inputs
    = f.input :quantity
    = f.input :price, :hint => Money.default_currency.symbol

  .actions
    = f.button :submit
