%h1 Listing asset_actions

%table
  %tr
    %th Quantity
    %th Price
    %th
    %th
    %th

  - @asset_actions.each do |asset_action|
    %tr
      %td= asset_action.quantity
      %td= asset_action.price
      %td= link_to 'Show', asset_action
      %td= link_to 'Edit', edit_asset_action_path(asset_action)
      %td= link_to 'Destroy', asset_action, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Asset action', new_asset_action_path
