- title "Listing Asset Actions"

%table
  %tr
    %th Quantity
    %th Price
    %th
    %th

  - @asset_actions.each do |asset_action|
    %tr
      %td= asset_action.quantity
      %td= pretty_money(asset_action.price)
      %td= link_to 'Edit', edit_portfolio_asset_action_path(@portfolio, asset_action)
      %td= link_to 'Destroy', [@portfolio, asset_action], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Asset Action', new_portfolio_asset_action_path(@portfolio)
|
= link_to 'Portfolio', portfolio_path(@portfolio)
