%p#notice= notice

%p
  %b Quantity:
  = @asset_action.quantity
%p
  %b Price:
  = @asset_action.price

= link_to 'Edit', edit_asset_action_path(@asset_action)
\|
= link_to 'Back', asset_actions_path
