- title "Listing Settings"

%table
  %tr
    %th Name
    %th Multiplier
    %th Stock fee
    %th Option fee
    %th Supplement cost
    %th Asset adjustment
    %th Points to rehedge
    - if user_signed_in?   
      %th
      %th

  - @settings.each do |setting|
    %tr
      %td= link_to setting.name, setting
      %td= setting.multiplier
      %td= setting.stock_fee
      %td= setting.option_fee
      %td= setting.supplement_cost
      %td= setting.asset_adjustment
      %td= setting.points_to_rehedge
      - if user_signed_in?    
        %td= link_to 'Edit', edit_setting_path(setting)
        %td= link_to 'Destroy', setting, :confirm => 'Are you sure?', :method => :delete

- if user_signed_in?
  %br
  = link_to 'New Setting', new_setting_path
